<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Contacto</title>
  </head>
  <body>
    <img src="/formulario.jpg" class="bg_img" />
    <div
      class="form_container"
      style="justify-content: center; align-items: center; height: 100vh"
    >
      <form action="/register" method="post" class="form">
        <h2
          style="
            color: #fff;
            font-weight: 600;
            font-size: 30px;
            border-bottom: 2px solid rgb(234, 222, 0);
          "
        >
          Contacto
        </h2>

        <label for="nombre">Nombre completo</label>
        <input
          type="text"
          name="nombre"
          id="nombre"
          placeholder="Ingrese su nombre"
        />

        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Ingrese su email"
        />

        <label for="phone">Telefono</label>
        <input
          type="tel"
          name="phone"
          id="phone"
          placeholder="Ingrese su numero de telefono"
        />

        <label for="mensaje">Mensaje</label>
        <textarea
          name="mensaje"
          id="mensaje"
          placeholder="Escriba su mensaje"
        ></textarea>

        <button type="submit">Enviar</button>
        
        <a href="/" style="text-decoration: none; width: 100%;">
          <div class="second-btn">
           Volver
          </div></a
        >
      </form>
    </div>
  </body>
</html>
