<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>First view</title>
  </head>
  <body>
    <img src="/formulario.jpg" class="bg_img" />
    <div class="contenedor-xl">
      <div class="index-container">
        <h1 class="titulo">Hola mundo desde express!</h1>
        <a href="/contacto">Contacto</a>
        <a href="/registro">Registro</a>
        <a href="/login">Log-in</a>
      </div>
    </div>
  </body>
</html>
